<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading title-logo">Mini html builder.</h1>
      <br>
      <br>
      <p class="lead">Login to web application and start build your html files easily.</p>
      <p class="lead">
        <button routerLink="../login" color="primary" class=" login-btn" mat-raised-button  type="submit">Login</button>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Mini Html Builder for MINI Company, by ali.</p>
      </div>
    </footer>
  </div>